body {
    font-family: "spartan";
    background-color: whitesmoke;
}

.container {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    max-width: 640px;
}

header {
    grid-area: header;
    grid-row: 1/2;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    min-width: 350px;
}

h1 {
    margin: 5px;
    padding: 15px;
    text-align: center;
}

h4 {
    margin: 5px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}

nav {
    grid-area: nav;
    grid-row: 2/3;
    grid-column: 1/-1;
    display: flex;
}

nav a {
    position: sticky;
    text-align: center;
    margin: 3px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
    float: left;
}

nav a:link {
    color: black;
}

nav a:visited {
    color: blue;
}

nav a:hover {
    text-decoration: underline blue;
    color: blue;
    transition-duration: 3ms;
    box-shadow: 5px 4px 10px black;
}

nav a:active {
    color: green;

}

main {
    grid-area: main;
    grid-row: 3/4;
    grid-column: 2/4;
    text-align: center;
    max-width: 800px;

}

p {
    text-align: center;
}

img {

    margin: 14px;
    border: 2px solid black;
    padding: 5px;
}

img:hover {
    box-shadow: 5px 4px 10px black;
}

table {
    margin: 0px auto;
}

thead,td,tr {
    border: solid black;
    border-radius: 15px;
    text-align: center;
    padding: 25px;
    width: 250px;
}

td:hover {
    text-decoration: underline;
}

#table-text>p {
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.list ul {
    justify-content: left;


}

.list ul>li {
    text-align: left;

}

button {
    text-decoration: underline;
}

button:hover {
    color: darkviolet;
    box-shadow: 5px 4px 10px black;
}

form {
    text-decoration: underline;
    margin: 10px;
}

footer {
    grid-area: footer;
    grid-row: 4/5;
    grid-column: 1/-1;
}

footer>p {
    font-size: 10px;
}

i {
    width: 20px;
    margin: 10px;
}

i:hover {
    color: navy;
    text-decoration: underline;
}

@media only screen and (min-width:520px) {
    .container {
        grid-template-areas:
            "header header header header header"
            "nav nav nav nav nav nav"
            "main main main main main "
            "footer footer footer footer footer";
        grid-gap: 10px;
        background-color: whitesmoke;
        max-width: 1024px;

    }
}

@media only screen and (min-width:1080px) {
    .container {

        grid-template-areas:
            "header header header header header"
            "nav nav nav nav nav"
            "main main main main main main"
            "footer footer footer footer footer footer";
        grid-gap: 10px;
        background-color: navy;
        max-width: 1920px;
        color: white;
    }
}